/* Fonts */
@font-face {
    font-family: SegoeVariable;
    src: url(SegoeVariable.woff);
}
@font-face {
    font-family: SegoeUI;
    src: url(SegoeUI.woff2);
}

* {
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family:SegoeVariable,'Segoe UI', SegoeUI,Tahoma, Geneva, Verdana, sans-serif;
    background: black;
}

/* Mobile support */
.mobile {
    display: none;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    z-index: 99;
    flex-direction: column;
}
@media (max-width: 650px) {
    .mobile {
        display: flex;
    }
}
@media (max-height: 550px) {
    .mobile {
        display: flex;
    }
}

/* Startup screen */
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.startup-screen {
    background: black;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 98;
}
.startup-screen-container {
    height: 100%;
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Windows 11 logo */
.win11-logo {
    aspect-ratio: 1 / 1;
    background: rgb(14, 104, 221);
}
.win11-logo::after {
    display: inline-block;
    content: "";
    position: relative;
    top: -30px;
    left: calc(50% - 2px);
    width: 4px;
    background: black;
    bottom: 0;
    height: 120%;
}
.win11-logo::before {
    display: inline-block;
    content: "";
    position: relative;
    top: calc(37% - 2px);
    left: 0;
    right: 0;
    height: 4px;
    background: black;
    width: 100%;
}

/* Loading */
.loader {
    position: relative;
    padding-top: 100px;
    width: 50px;
    margin-top: 250px!important;
    margin-bottom: 0!important;
    margin: auto;
  }
  .loader .circle {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 4s;
  }
  .loader .circle:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: #fff;
    /* Pick a color */
  }
  .loader .circle:nth-child(2) {
    animation-delay: 240ms;
  }
  .loader .circle:nth-child(3) {
    animation-delay: 480ms;
  }
  .loader .circle:nth-child(4) {
    animation-delay: 720ms;
  }
  .loader .circle:nth-child(5) {
    animation-delay: 960ms;
  }
  @keyframes orbit {
    0% {
      transform: rotate(225deg);
      opacity: 1;
      animation-timing-function: ease-out;
    }
    7% {
      transform: rotate(345deg);
      animation-timing-function: linear;
    }
    30% {
      transform: rotate(455deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(690deg);
      animation-timing-function: linear;
    }
    70% {
      transform: rotate(815deg);
      opacity: 1;
      animation-timing-function: ease-out;
    }
    75% {
      transform: rotate(945deg);
      animation-timing-function: ease-out;
    }
    76% {
      transform: rotate(945deg);
      opacity: 0;
    }
    100% {
      transform: rotate(945deg);
      opacity: 0;
    }
  }


@keyframes fade {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

/* Login */
.login {
    z-index: 97;
    object-fit: cover;
}